# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
build/out/*
build/unity/darwin/*
build/unity/win32/*
build/unity/linux/*
build/unity/*
[Ll]ibrary/
sysinfo.txt
build/electron/node_modules

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

*.scssc

info.txt